In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
original_data=pd.read_csv(r"C:\Users\ASUS\Downloads\US_Accidents_March23.csv.zip")

In [5]:
original_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7728394 entries, 0 to 7728393
Data columns (total 46 columns):
 #   Column                 Dtype
---  ------                 -----
 0   ID                     object
 1   Source                 object
 2   Severity               int64
 3   Start_Time             object
 4   End_Time               object
 5   Start_Lat              float64
 6   Start_Lng              float64
 7   End_Lat                float64
 8   End_Lng                float64
 9   Distance(mi)           float64
 10  Description            object
 11  Street                 object
 12  City                   object
 13  County                 object
 14  State                  object
 15  Zipcode                object
 16  Country                object
 17  Timezone               object
 18  Airport_Code           object
 19  Weather_Timestamp      object
 20  Temperature(F)         float64
 21  Wind_Chill(F)          float64
 22  Humidity(%)            float64
 23  Pressure(in)           float64
 24  Visibility(mi)         float64
 25  Wind_Direction         object
 26  Wind_Speed(mph)        float64
 27  Precipitation(in)      float64
 28  Weather_Condition      object
 29  Amenity                bool
 30  Bump                   bool
 31  Crossing               bool
 32  Give_Way               bool
 33  Junction               bool
 34  No_Exit                bool
 35  Railway                bool
 36  Roundabout             bool
 37  Station                bool
 38  Stop                   bool
 39  Traffic_Calming        bool
 40  Traffic_Signal         bool
 41  Turning_Loop           bool
 42  Sunrise_Sunset         object
 43  Civil_Twilight         object
 44  Nautical_Twilight      object
 45  Astronomical_Twilight  object
dtypes: bool(13), float64(12), int64(1), object(20)
memory usage: 2.0+ GB

In [6]:
original_data.columns

Index(['ID', 'Source', 'Severity', 'Start_Time', 'End_Time', 'Start_Lat',
       'Start_Lng', 'End_Lat', 'End_Lng', 'Distance(mi)', 'Description',
       'Street', 'City', 'County', 'State', 'Zipcode', 'Country', 'Timezone',
       'Airport_Code', 'Weather_Timestamp', 'Temperature(F)', 'Wind_Chill(F)',
       'Humidity(%)', 'Pressure(in)', 'Visibility(mi)', 'Wind_Direction',
       'Wind_Speed(mph)', 'Precipitation(in)', 'Weather_Condition', 'Amenity',
       'Bump', 'Crossing', 'Give_Way', 'Junction', 'No_Exit', 'Railway',
       'Roundabout', 'Station', 'Stop', 'Traffic_Calming', 'Traffic_Signal',
       'Turning_Loop', 'Sunrise_Sunset', 'Civil_Twilight', 'Nautical_Twilight',
       'Astronomical_Twilight'],
      dtype='object')

In [7]:
original_data.index

RangeIndex(start=0, stop=7728394, step=1)

In [8]:
pd.set_option("display.max_columns",None)

In [9]:
original_data.head()

,ID,Source,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,Street,City,County,State,Zipcode,Country,Timezone,Airport_Code,Weather_Timestamp,Temperature(F),Wind_Chill(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Direction,Wind_Speed(mph),Precipitation(in),Weather_Condition,Amenity,Bump,Crossing,Give_Way,Junction,No_Exit,Railway,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-1,Source2,3,2016-02-08 05:46:00,2016-02-08 11:00:00,39.865147,-84.058723,NaN,NaN,0.01,Right lane blocked due to accident on I-70 Eas...,I-70 E,Dayton,Montgomery,OH,45424,US,US/Eastern,KFFO,2016-02-08 05:58:00,36.9,NaN,91.0,29.68,10.0,Calm,NaN,0.02,Light Rain,False,False,False,False,False,False,False,False,False,False,False,False,False,Night,Night,Night,Night
1,A-2,Source2,2,2016-02-08 06:07:59,2016-02-08 06:37:59,39.928059,-82.831184,NaN,NaN,0.01,Accident on Brice Rd at Tussing Rd. Expect del...,Brice Rd,Reynoldsburg,Franklin,OH,43068-3402,US,US/Eastern,KCMH,2016-02-08 05:51:00,37.9,NaN,100.0,29.65,10.0,Calm,NaN,0.00,Light Rain,False,False,False,False,False,False,False,False,False,False,False,False,False,Night,Night,Night,Day
2,A-3,Source2,2,2016-02-08 06:49:27,2016-02-08 07:19:27,39.063148,-84.032608,NaN,NaN,0.01,Accident on OH-32 State Route 32 Westbound at ...,State Route 32,Williamsburg,Clermont,OH,45176,US,US/Eastern,KI69,2016-02-08 06:56:00,36.0,33.3,100.0,29.67,10.0,SW,3.5,NaN,Overcast,False,False,False,False,False,False,False,False,False,False,False,True,False,Night,Night,Day,Day
3,A-4,Source2,3,2016-02-08 07:23:34,2016-02-08 07:53:34,39.747753,-84.205582,NaN,NaN,0.01,Accident on I-75 Southbound at Exits 52 52B US...,I-75 S,Dayton,Montgomery,OH,45417,US,US/Eastern,KDAY,2016-02-08 07:38:00,35.1,31.0,96.0,29.64,9.0,SW,4.6,NaN,Mostly Cloudy,False,False,False,False,False,False,False,False,False,False,False,False,False,Night,Day,Day,Day
4,A-5,Source2,2,2016-02-08 07:39:07,2016-02-08 08:09:07,39.627781,-84.188354,NaN,NaN,0.01,Accident on McEwen Rd at OH-725 Miamisburg Cen...,Miamisburg Centerville Rd,Dayton,Montgomery,OH,45459,US,US/Eastern,KMGY,2016-02-08 07:53:00,36.0,33.3,89.0,29.65,6.0,SW,3.5,NaN,Mostly Cloudy,False,False,False,False,False,False,False,False,False,False,False,True,False,Day,Day,Day,Day

In [10]:
original_data.tail()

,ID,Source,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Description,Street,City,County,State,Zipcode,Country,Timezone,Airport_Code,Weather_Timestamp,Temperature(F),Wind_Chill(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Direction,Wind_Speed(mph),Precipitation(in),Weather_Condition,Amenity,Bump,Crossing,Give_Way,Junction,No_Exit,Railway,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
7728389,A-7777757,Source1,2,2019-08-23 18:03:25,2019-08-23 18:32:01,34.00248,-117.37936,33.99888,-117.37094,0.543,At Market St - Accident.,Pomona Fwy E,Riverside,Riverside,CA,92501,US,US/Pacific,KRAL,2019-08-23 17:53:00,86.0,86.0,40.0,28.92,10.0,W,13.0,0.0,Fair,False,False,False,False,False,False,False,False,False,False,False,False,False,Day,Day,Day,Day
7728390,A-7777758,Source1,2,2019-08-23 19:11:30,2019-08-23 19:38:23,32.76696,-117.14806,32.76555,-117.15363,0.338,At Camino Del Rio/Mission Center Rd - Accident.,I-8 W,San Diego,San Diego,CA,92108,US,US/Pacific,KMYF,2019-08-23 18:53:00,70.0,70.0,73.0,29.39,10.0,SW,6.0,0.0,Fair,False,False,False,False,False,False,False,False,False,False,False,False,False,Day,Day,Day,Day
7728391,A-7777759,Source1,2,2019-08-23 19:00:21,2019-08-23 19:28:49,33.77545,-117.84779,33.77740,-117.85727,0.561,At Glassell St/Grand Ave - Accident. in the ri...,Garden Grove Fwy,Orange,Orange,CA,92866,US,US/Pacific,KSNA,2019-08-23 18:53:00,73.0,73.0,64.0,29.74,10.0,SSW,10.0,0.0,Partly Cloudy,False,False,False,False,True,False,False,False,False,False,False,False,False,Day,Day,Day,Day
7728392,A-7777760,Source1,2,2019-08-23 19:00:21,2019-08-23 19:29:42,33.99246,-118.40302,33.98311,-118.39565,0.772,At CA-90/Marina Fwy/Jefferson Blvd - Accident.,San Diego Fwy S,Culver City,Los Angeles,CA,90230,US,US/Pacific,KSMO,2019-08-23 18:51:00,71.0,71.0,81.0,29.62,10.0,SW,8.0,0.0,Fair,False,False,False,False,False,False,False,False,False,False,False,False,False,Day,Day,Day,Day
7728393,A-7777761,Source1,2,2019-08-23 18:52:06,2019-08-23 19:21:31,34.13393,-117.23092,34.13736,-117.23934,0.537,At Highland Ave/Arden Ave - Accident.,CA-210 W,Highland,San Bernardino,CA,92346,US,US/Pacific,KSBD,2019-08-23 20:50:00,79.0,79.0,47.0,28.63,7.0,SW,7.0,0.0,Fair,False,False,False,False,False,False,False,False,False,False,False,False,False,Day,Day,Day,Day

In [11]:
original_data.isnull().sum()

ID                             0
Source                         0
Severity                       0
Start_Time                     0
End_Time                       0
Start_Lat                      0
Start_Lng                      0
End_Lat                  3402762
End_Lng                  3402762
Distance(mi)                   0
Description                    5
Street                     10869
City                         253
County                         0
State                          0
Zipcode                     1915
Country                        0
Timezone                    7808
Airport_Code               22635
Weather_Timestamp         120228
Temperature(F)            163853
Wind_Chill(F)            1999019
Humidity(%)               174144
Pressure(in)              140679
Visibility(mi)            177098
Wind_Direction            175206
Wind_Speed(mph)           571233
Precipitation(in)        2203586
Weather_Condition         173459
Amenity                        0
Bump                           0
Crossing                       0
Give_Way                       0
Junction                       0
No_Exit                        0
Railway                        0
Roundabout                     0
Station                        0
Stop                           0
Traffic_Calming                0
Traffic_Signal                 0
Turning_Loop                   0
Sunrise_Sunset             23246
Civil_Twilight             23246
Nautical_Twilight          23246
Astronomical_Twilight      23246
dtype: int64

In [12]:
data=original_data[["Severity","Start_Time","State","Visibility(mi)","Weather_Condition"]].copy()

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7728394 entries, 0 to 7728393
Data columns (total 5 columns):
 #   Column             Dtype
---  ------             -----
 0   Severity           int64
 1   Start_Time         object
 2   State              object
 3   Visibility(mi)     float64
 4   Weather_Condition  object
dtypes: float64(1), int64(1), object(3)
memory usage: 294.8+ MB

In [14]:
data.columns = ["Accident Severity", "Accident DateTime", "State", "Visibility", "Weather Condition"]

In [15]:
data.head()

   Accident Severity    Accident DateTime State  Visibility Weather Condition
0                  3  2016-02-08 05:46:00    OH        10.0        Light Rain
1                  2  2016-02-08 06:07:59    OH        10.0        Light Rain
2                  2  2016-02-08 06:49:27    OH        10.0          Overcast
3                  3  2016-02-08 07:23:34    OH         9.0     Mostly Cloudy
4                  2  2016-02-08 07:39:07    OH         6.0     Mostly Cloudy

In [16]:
data.isnull().sum()

Accident Severity         0
Accident DateTime         0
State                     0
Visibility           177098
Weather Condition    173459
dtype: int64

In [17]:
data=data.dropna(subset=["Visibility","Weather Condition"])

In [18]:
data.isnull().sum()

Accident Severity    0
Accident DateTime    0
State                0
Visibility           0
Weather Condition    0
dtype: int64

In [19]:
data["Visibility"]=data["Visibility"].round(0).astype(int)

In [20]:
data["Weather Condition"]=data["Weather Condition"].str.strip().str.title()

In [21]:
data.head()

   Accident Severity    Accident DateTime State  Visibility Weather Condition
0                  3  2016-02-08 05:46:00    OH          10        Light Rain
1                  2  2016-02-08 06:07:59    OH          10        Light Rain
2                  2  2016-02-08 06:49:27    OH          10          Overcast
3                  3  2016-02-08 07:23:34    OH           9     Mostly Cloudy
4                  2  2016-02-08 07:39:07    OH           6     Mostly Cloudy

In [22]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7534325 entries, 0 to 7728393
Data columns (total 5 columns):
 #   Column             Dtype
---  ------             -----
 0   Accident Severity  int64
 1   Accident DateTime  object
 2   State              object
 3   Visibility         int32
 4   Weather Condition  object
dtypes: int32(1), int64(1), object(3)
memory usage: 316.2+ MB

In [23]:
data["Weather Condition"].unique()

array(['Light Rain', 'Overcast', 'Mostly Cloudy', 'Rain', 'Light Snow',
       'Haze', 'Scattered Clouds', 'Partly Cloudy', 'Clear', 'Snow',
       'Light Freezing Drizzle', 'Light Drizzle', 'Fog', 'Shallow Fog',
       'Heavy Rain', 'Light Freezing Rain', 'Cloudy', 'Drizzle',
       'Light Rain Showers', 'Mist', 'Smoke', 'Patches Of Fog',
       'Light Freezing Fog', 'Light Haze', 'Light Thunderstorms And Rain',
       'Thunderstorms And Rain', 'Fair', 'Volcanic Ash', 'Blowing Sand',
       'Blowing Dust / Windy', 'Widespread Dust', 'Fair / Windy',
       'Rain Showers', 'Light Rain / Windy', 'Hail', 'Heavy Drizzle',
       'Showers In The Vicinity', 'Light Rain Shower',
       'Light Rain With Thunder', 'Mostly Cloudy / Windy',
       'Partly Cloudy / Windy', 'Thunder In The Vicinity', 'T-Storm',
       'Heavy Thunderstorms And Rain', 'Thunderstorm', 'Thunder',
       'Heavy T-Storm', 'Funnel Cloud', 'Heavy T-Storm / Windy',
       'Blowing Snow', 'Light Thunderstorms And Snow', 'Heavy Snow',
       'Low Drifting Snow', 'Light Ice Pellets', 'Ice Pellets', 'Squalls',
       'N/A Precipitation', 'Cloudy / Windy', 'Light Fog', 'Snow Grains',
       'Snow Showers', 'Heavy Thunderstorms And Snow', 'Rain / Windy',
       'Heavy Rain / Windy', 'Heavy Ice Pellets', 'Light Snow / Windy',
       'Heavy Freezing Rain', 'Small Hail', 'Heavy Rain Showers',
       'Thunder / Windy', 'Drizzle And Fog', 'T-Storm / Windy',
       'Blowing Dust', 'Smoke / Windy', 'Haze / Windy', 'Tornado',
       'Light Drizzle / Windy', 'Widespread Dust / Windy', 'Wintry Mix',
       'Wintry Mix / Windy', 'Light Snow With Thunder', 'Fog / Windy',
       'Snow And Thunder', 'Light Snow Shower', 'Sleet',
       'Light Snow And Sleet', 'Snow / Windy', 'Rain Shower',
       'Snow And Sleet', 'Light Sleet', 'Heavy Snow / Windy',
       'Freezing Drizzle', 'Light Freezing Rain / Windy',
       'Thunder / Wintry Mix', 'Blowing Snow / Windy', 'Freezing Rain',
       'Light Snow And Sleet / Windy', 'Snow And Sleet / Windy',
       'Sleet / Windy', 'Heavy Freezing Rain / Windy', 'Squalls / Windy',
       'Light Rain Shower / Windy', 'Snow And Thunder / Windy',
       'Light Sleet / Windy', 'Sand / Dust Whirlwinds', 'Drizzle / Windy',
       'Duststorm', 'Sand / Dust Whirls Nearby', 'Thunder And Hail',
       'Heavy Sleet', 'Freezing Rain / Windy',
       'Light Snow Shower / Windy', 'Partial Fog',
       'Thunder / Wintry Mix / Windy', 'Patches Of Fog / Windy',
       'Rain And Sleet', 'Light Snow Grains', 'Partial Fog / Windy',
       'Sand / Dust Whirlwinds / Windy', 'Heavy Snow With Thunder',
       'Light Snow Showers', 'Heavy Blowing Snow', 'Light Hail',
       'Heavy Smoke', 'Sand', 'Heavy Thunderstorms With Small Hail',
       'Light Thunderstorm', 'Heavy Freezing Drizzle',
       'Light Blowing Snow', 'Thunderstorms And Snow', 'Dust Whirls',
       'Mist / Windy', 'Rain Shower / Windy', 'Sleet And Thunder',
       'Heavy Sleet And Thunder', 'Drifting Snow / Windy',
       'Shallow Fog / Windy', 'Thunder And Hail / Windy',
       'Heavy Sleet / Windy', 'Sand / Windy', 'Heavy Rain Shower / Windy',
       'Blowing Snow Nearby', 'Heavy Rain Shower', 'Drifting Snow'],
      dtype=object)

In [24]:
def categorize_weather(i):
    i = str(i).lower()
    
    if 'clear' in i or 'fair' in i:
        return 'Clear'
    elif 'cloud' in i or 'overcast' in i:
        return 'Cloudy'
    elif 'rain' in i or 'shower' in i or 'drizzle' in i:
        return 'Rain'
    elif 'snow' in i or 'sleet' in i or 'blowing snow' in i:
        return 'Snow'
    elif 'fog' in i or 'haze' in i or 'mist' in i:
        return 'Fog'
    elif 'thunder' in i or 'storm' in i or 't-storm' in i:
        return 'Thunderstorm'
    else:
        return 'Other'

data['Weather Condition'] = data['Weather Condition'].apply(categorize_weather)

In [25]:
data["Weather Condition"].unique()

array(['Rain', 'Cloudy', 'Snow', 'Fog', 'Clear', 'Other', 'Thunderstorm'],
      dtype=object)

In [26]:
data.head()

   Accident Severity    Accident DateTime State  Visibility Weather Condition
0                  3  2016-02-08 05:46:00    OH          10              Rain
1                  2  2016-02-08 06:07:59    OH          10              Rain
2                  2  2016-02-08 06:49:27    OH          10            Cloudy
3                  3  2016-02-08 07:23:34    OH           9            Cloudy
4                  2  2016-02-08 07:39:07    OH           6            Cloudy

In [27]:
data['Accident DateTime'] = pd.to_datetime(data['Accident DateTime'], format='mixed')

In [28]:
data['Day'] = data['Accident DateTime'].dt.day
data['Month'] = data['Accident DateTime'].dt.month

In [29]:
data.head()

,Accident Severity,Accident DateTime,State,Visibility,Weather Condition,Day,Month
0,3,2016-02-08 05:46:00,OH,10,Rain,8,2
1,2,2016-02-08 06:07:59,OH,10,Rain,8,2
2,2,2016-02-08 06:49:27,OH,10,Cloudy,8,2
3,3,2016-02-08 07:23:34,OH,9,Cloudy,8,2
4,2,2016-02-08 07:39:07,OH,6,Cloudy,8,2

In [30]:
data=data.drop("Accident DateTime",axis=1)

In [31]:
data.head()

   Accident Severity State  Visibility Weather Condition  Day  Month
0                  3    OH          10              Rain    8      2
1                  2    OH          10              Rain    8      2
2                  2    OH          10            Cloudy    8      2
3                  3    OH           9            Cloudy    8      2
4                  2    OH           6            Cloudy    8      2

In [32]:
data.insert(1,"Day",data.pop("Day"))

In [33]:
data.insert(2,"Month",data.pop("Month"))

In [34]:
data.head()

   Accident Severity  Day  Month State  Visibility Weather Condition
0                  3    8      2    OH          10              Rain
1                  2    8      2    OH          10              Rain
2                  2    8      2    OH          10            Cloudy
3                  3    8      2    OH           9            Cloudy
4                  2    8      2    OH           6            Cloudy